<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<a href="/">Menu</a> | 
			<a href="/produto/add">Adiciona Novo Produto</a> | 
			<a href="/produto">Lista de Produtos</a>
		</div>	
		<h1><%= title %></h1>
